<h1>Book Details</h1>

<p><strong>Title: </strong><%= @book.title %></p>
<p><strong>Description: </strong><%= @book.description %></p>
<hr>
<%= link_to "Edit", edit_book_path(@book) %> | 
<%= link_to "Delete", book_path(@book), method: :delete %> |
<%= link_to "Return To Book Listings", books_path %>